{% extends 'master.html' %}

{% block body %}
<h2>Sign up</h2>
{% if error %}
<div class="alert alert-primary" role="alert">
  {{error}}
</div>
{% endif %}
  <div style="margin:12%;" class="d-flex justify-content-center">

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
